addict==2.4.0
certifi==2022.9.14
click==8.1.5
colorama==0.4.5
contourpy==1.0.5
cycler==0.11.0
fonttools==4.37.2
h5py==3.7.0
imageio==2.22.0
importlib-metadata==6.8.0
kiwisolver==1.4.4
Markdown==3.4.3
markdown-it-py==3.0.0
matplotlib==3.6.0
mdurl==0.1.2
mmcv==2.0.1
mmcv-full==1.7.1
mmengine==0.8.2
mmsegmentation==1.1.0
model-index==0.1.11
networkx==2.8.6
numpy==1.23.3
opencv-python==4.6.0.66
opendatalab==0.0.9
openmim==0.3.9
ordered-set==4.1.0
packaging==21.3
pandas==2.0.0
prettytable==3.8.0
protobuf==3.20.1
pycryptodome==3.18.0
Pygments==2.15.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
PyYAML==6.0
regex==2022.9.13
rich==13.4.2
scikit-image==0.19.3
scipy==1.9.1
six==1.16.0
tabulate==0.9.0
tensorboardX==2.5.1
termcolor==2.3.0
tifffile==2022.8.12
timm==0.6.7
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.1
tzdata==2023.3
urllib3==1.26.12
wcwidth==0.2.6
wincertstore==0.2
yapf==0.32.0
zipp==3.16.2
